.valor-first {
    background: linear-gradient(180deg, #D3E6EE 30%, #F4D1C4 95%);
}

.valor-first-svg {
    animation: identifier 1s infinite alternate;
}

.menu-hover {
    cursor: pointer;

    div,
    svg,
    path,
    rect {
        transition: ease-in-out .1s;
    }

    &:hover {

        div {
            color: #F3FD65;
        }

        path,
        rect {
            stroke: #F3FD65;
        }
    }
}

.margin-calc {
    margin-top: calc(100vh - 440px);
}

@media screen and (max-width: 1050px) {
    .margin-calc {
        margin-top: calc(100vh - 750px) !important;
    }
}

@keyframes identifier {
    to {

        transform: translateY(5px);
    }

    from {
        transform: translateY(-5px);
    }
}

#valor-first-active{
    // backdrop-filter: blur(0);
    filter: blur(0);
}

#valor-mission-active{
    opacity: 1;
    transform: scale(1);
}

#valor-ourmiss-active{
    width: 120px;
}
@media screen and (max-width: 950px) {
    #valor-ourmiss-active {
        width: 80px !important;
    }
}